<% provide(:title, "利用規約") %>
<h1>利用規約</h1>
<p>Instagramへようこそ！</p>
<br>
<p>この利用規約は、Instagramをご利用いただく際に適用されるものであり、Instagramサービスに関する情報を提供するものです。Instagramアカウントを作成する場合、またはInstagramをご利用になる場合は、本規約に同意していただくことになります。</p>
<br>
<p>Instagramサービスは、Facebook, Inc.が提供するFacebook製品の1つです。したがって本規約は、利用者とFacebook, Inc.の間での合意を構成するものです。</p>
<p>弊社は、Instagramサービスを利用者に提供することに同意します。Instagramサービスには、Instagramの製品、機能、アプリ、サービス、技術およびソフトウェアのすべてが含まれます。これらは、Instagramのミッション「利用者と大好きな人やものとのつながりを深める」を推進することを目的として提供されるものです。Instagramサービスは、次の要素で構成されています(以下「サービス」)。</p>
<ul>
	<li>
		創作、コミュニケーション、発見およびシェアを行い、つながりを構築するためのパーソナライズされた機会を提供すること
		<p>人は皆それぞれ異なります。弊社は、利用者が実際に関心を持ち、シェアする体験を通じて、人と人との関係強化を実現したいと考えています。そこで弊社は、利用者やその他の人が、誰に対して、そして何について関心があるのか理解するためのシステムを構築するとともに、利用者が関心のある体験を通じて創作、発見、参加およびシェアを行うことができるよう支援するために、その情報を使用しています。その一部として、Instagram上であるかを問わず利用者等がとる行動に基づき、利用者が興味を持つ可能性のあるコンテンツ、機能、クーポンおよびアカウントを強調したり、Instagramの体験方法を提示したりしています。</p>
	</li>	
	<li>
		ポジティブで開放的かつ安全な環境を構築すること
		<p>弊社は、支援が必要と考える場合を含め、コミュニティのメンバーの体験をポジティブかつ開放的なものにするために役立つツールを開発および使用し、これらに役立つリソースを提供しています。その他にも、弊社には、有害な行動や不正な行動のほか、弊社の規約やポリシーの悪用や違反を防止するための活動を行うチームやシステムがあります。弊社が保有するすべての情報(利用者の情報を含む)は、プラットフォームを安全に保つために使用されます。また、コンテンツの不正利用や有害なコンテンツに関する情報を、他のFacebookグループ企業や法執行機関との間で共有する場合があります。詳しくは、データに関するポリシーをご覧ください。</p>
	</li>
	<li>
		拡大を続ける弊社のコミュニティを着実に支えるための技術の開発と使用
		<p>弊社のサービスの中核は、拡大を続ける弊社のコミュニティに役立つ情報を整理し分析することです。弊社のサービスの重要な部分は、広範囲にわたるグローバルなコミュニティのために、弊社のサービスをパーソナライズ、保護および改善することに役立つ最先端技術を大規模なスケールで創造および活用することです。人工知能や機械学習といった技術を用いることで、弊社はサービス全体を通した複雑な処理に対応できるようになります。さらに、自動化技術もサービスの機能性および保全の確保に役立ちます。</p>
	</li>
	<li>
		Facebookグループ企業のほかの製品全体を通して、一貫性のあるシームレスな体験を提供すること
		<p>Instagramは、Facebookグループ企業の一員です。Facebookグループ企業は、より優れた安全かつ確実なサービスの提供を目的として、技術、システム、インサイトおよび情報(利用者に関して弊社が保有する情報を含む)を共有しています。詳しくは、データに関するポリシーをご覧ください。また弊社は、ご利用中のFacebookグループ企業の製品全体を通して交流を行う手段を提供するほか、Facebookグループ企業の製品全体を通してシームレスかつ一貫性のある体験が得られるように設計されたシステムを提供しています。</p>
	</li>
	<li>
		サービスを支える安定したグローバルインフラストラクチャを確保すること
		<p>グローバルサービスを提供するには、(利用者の居住国以外を含む)世界中のシステムにデータを保存および移転する必要があります。Facebook, Inc.、Facebook Ireland Limited、またはこれらの関係会社が、このインフラストラクチャを所有し、その運用を行う場合があります。</p>
	</li>
	<li>
		利用者が関心を寄せる方法で、利用者と、ブランド、製品、サービスをつなぐこと
		<p>弊社は、Instagramやその他のFacebookグループ企業の製品あるいは外部のパートナーから入手したデータを、利用者にとって有意義であると弊社が判断する広告、クーポンおよびその他のスポンサー付きコンテンツを表示するために使用しています。さらに弊社は、そのコンテンツが利用者のInstagram上で他のすべての体験と適切に関連付くように努めます。</p>
	</li>
	<li>
		研究およびイノベーション
		<p>弊社は、弊社のサービスの研究および他者と協力して進める研究のため、保有する情報を使用します。これにより、弊社のサービスはより優れたものとなり、弊社のコミュニティの福利に貢献できます。</p>
	</li>
</ul>