<% visitor = notification.visitor %>
<% visited = notification.visited %>
<li>
  <%== notification_form(notification) %>
  <span class="timestamp">
    <%= "(#{time_ago_in_words(notification.created_at).upcase}å‰)" %>
  </span>
  <% if !@comment.nil? %>
    <p><%= @comment %></p>
  <% end %>
</li>